<p>Add a Complaint </p>
<br>

<form ng-submit="addComplaint()">
  Title:<input type="text" ng-model="title"></input><br>
  Description:<input type="text" ng-model="description"></input><br>
  Category:<input type="text" ng-model="category"></input><br>
  Subcategory:<input type="text" ng-model="subcategory"></input><br>
  Location:<input type="text" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="location"></input><br> 

  <button type="submit">ADD</button> 
</form>
 
<br>
<ui-gmap-google-map center='map.center' zoom='map.zoom' >

<style>.angular-google-map-container { height: 400px; }</style>

<ui-gmap-marker
        idKey=0 
        coords=marker.coords>

</ui-gmap-marker>


</ui-gmap-google-map>

  