    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('images/home-bg.jpg')">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ready to change Goa?</h1>
                        <hr class="small">
                        <span class="subheading">Connect with you local governs via forchange.io and build a better city</span>

            <div class="row searchbar">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" id="filterbutton" data-toggle="dropdown">
                                <span id="search_concept">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#location">Location</a></li>
                              <li><a href="#category">Category</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">         
                        <input type="text" class="form-control search" name="x" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="searchbutton" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="post-preview" ng-repeat="complaint in complaints">
                    
                        <h2 class="post-title">
                            {{complaint.title}}
                        </h2>
                        <h4 class="category">
                            {{complaint.category}}
                        </h4>
                        <h5 class="post-subtitle">
                            {{complaint.description}}
                        </h5>
                   
                    <p class="location">Panjim, Goa</p>
                </div>
                <hr>
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                   
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                   
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                   
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                </div>

                <div class="complaintslist" ng-repeat="complaint in complaints">
                    
                        <h2 class="title">
                            {{complaint.title}}, in {{complaint.location}}
                        </h2>
                        <h5 class="category">
                            {{complaint.category}} {{complaint.subcategory}}
                        </h5>
                   
                  <p class="postedBy"><i>Posted by {{complaint.userId.profile.slug}}</i></p>
                </div>
                

                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>