<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="complaint-form">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea class="form-control" rows="3" placeholder="Explain your problem in detail."></textarea>
          </div>
          <!-- <div class="form-group">
            <label for="exampleInputFile">Image Upload</label>
            <input type="file">
          </div> -->
          <div class="form-group">
            <div class="btn-group">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>                
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Sub-Category <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>                
              </ul>
            </div>
          </div>  
          <div class="form-group">
            <label for="desc">Location</label>
            <input type="text" class="form-control" placeholder="Where did you experince the problem?">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>               
      </div>
    </div>
  </div>
</div>