<header class="intro-header" style="background-image: url('images/contact-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h3>{{user.profile.username}}</h3>
          <hr class="small">
          <span class="subheading">{{user.profile.location}}</span>
          <p class="text-muted">Joined on: {{user.profile.joinDate  | date: 'medium'}}</p>
          <div ng-if="isCurrUser" class="checkbox">
            <label>
              <input type="checkbox" ng-model="user.anon" ng-click="makeAnon(user.anon)"> Go anonymous
            </label>
          </div>
          <div class="checkbox" ng-if="currentUser.role == 'admin'">
            <label>
              <input type="checkbox" ng-change="makeStaff(staff)" ng-model="staff"> This user is staff.
            </label>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <button type="button" ng-if="isCurrUser" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#passModal">
        Change Password
      </button>

      <!-- Modal -->
      <div ng-if="isCurrUser" class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body" ng-include="'../views/partials/passwordReset.html'"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="changePass()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container" ng-cloak>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview" ng-repeat="complaint in user.complaints">
          <div ng-include="'../views/partials/complaintListing.html'"></div>
        </div>
    </div>
  </div>
</div>