<form name="postComplaint">
  <div class="form-group">
    <label for="title">Old Password</label>
    <input name="oldPass" type="password" ng-model="password.old" class="form-control" placeholder="Old Password" required>
  </div>
  <div class="form-group">
    <label for="title">New Password</label>
    <input name="newPass" type="password" ng-model="password.new" class="form-control" placeholder="New Password" required>
  </div>
  <div class="form-group">
    <label for="title">Re-type Password</label>
    <input name="newPassRe" type="password" ng-change="isSame()" ng-model="password.newConf" class="form-control" placeholder="Re-type New Password" required>
    <span ng-hide="same">Passwords do not match.</span>
  </div>
</form>